


/*Event Schedule*/

#schedule { padding: 60px 0; }
#schedule h2 { color: #121212; margin: 0 0 15px; }
.tagline { font-size: 22px; margin: 0 0 52px; }

.date-picker { float: left; padding-bottom: 30px; width: 100%; }
.date-picker button { background: #f1f1f1; border-radius: 6px; color: #898989; display: inline-block; width: 110px; }
.date-picker button.central { margin: 0 33px; }

.date-picker button:hover { opacity: .6; }

.date-picker .weekday { border-bottom: 2px solid #fff; display: block; font: bold 14px Montserrat; padding: 8px 0 6px; text-transform: uppercase; }
.date-picker .date { display: block; font-size: 42px; padding: 15px 0 5px; }
.date-picker .month { font-size: 14px; text-transform: uppercase; }

.date-picker .active { background: #fff; border: 2px solid #69c7cf; color: #121212; }
.date-picker .active .weekday { border-color: #69c7cf; }

span.tachado { text-decoration: line-through; }










