@charset "utf-8";
/* CSS Document */
body {
	overflow-y: scroll;
 }
	
#menu-toggle:hover{
	background-color:#000 !important
}

a {
	color:#A0A0A4
}

a:hover {				
	color: #000;			
}

.enlaces {
	
	color:#125B90;
}

.enlaces:hover{

	color:#125B90;
	
}

.titulos{

	font-size: 16px;	

}

.secundario{
	
	font-size: 14px;

}

