@charset "utf-8";
/* CSS Document */			
/* Ponemos el scrollbar por debajo del navbar*/

/*html {
	overflow: auto;
}
body {
	overflow-x: scroll;
}*/

a {color:#A0A0A4}

a:hover {
	color: #000;
}

.center {
	 float: none;
	 margin-left: auto;
	 margin-right: auto;
}


/*Timer*/

#timer { background-image: url('img/timer-bkg.png'); background-repeat: no-repeat; background-position: center 60px; color: #fff; font: bold 16px Montserrat; padding: 172px 0 56px; text-align: center; text-transform: uppercase; }
#timer .container { margin: 0 auto; max-width: 592px; width: 100%; }
#timer .countdown > div { display: inline-block; margin-bottom: 30px; }
#timer .days {  margin-right: 0px; width: 170px; }
#timer .hours, #timer .minutes, #timer .seconds { margin-right: 0px; width: 113px; }
#timer .seconds { margin-right: 0; }
#timer span { background: url('img/timer-number-bkg.png') no-repeat; float: left; font: 72px/72px Muli; height: 104px; margin: 0 1px 12px 0; padding-top: 18px; width: 55px; }


.secondary-bkg-color { background-color: #d1d1d1 !important; text-align:center}

#menu-toggle:hover{background-color:#000 !important}

.raton > img:hover{

	
	opacity:0.4;
	filter:alpha(opacity=40)

}

.rounded {
	
	height: 85px;
	width: 85px;
	-moz-border-radius: 60px;
	border-radius: 50px;
	
	border-color: #E9E8E6 !important;
	border:2px solid;
	
}


.media-body > h4 {
	
	color:#535353;
	
}

.map {
	overflow: hidden;  
	-webkit-overflow-scrolling: touch;
}

.enlaces {
	
	color:#125B90;
}

.enlaces:hover{

	color:#125B90;
	
}


/*Para sombrear el item*/
.items.active{
	
	/*border-color:#000;
	border:1px solid;*/
	
}
		
